/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
*.gem

bin/dev
bin/dev-http
bin/dev-http-puma

plans/
plans/*

model-context-protocol-rb.wiki/
